*{
	padding: 0;
	margin: 0;
	font-family: 'Quicksand', sans-serif;
	/*border: 1px solid;*/
}


/*page*/

section{
	width: 100%;
}

.container{
	width: 80%;
	margin: auto;
}

.judul{
	font-size: 30px;
	font-weight: 600;
	text-align: center;
	margin: 50px;
}

.container p{
	margin-bottom: 80px;
	font-weight: 500;
}

.container img{
	width: 100%;
}



/* RESPONSIVE */


/* MOBILE */

@media (max-width: 400px){
	.judul{
		font-size: medium;
	}

	.container .isi{
		font-size: 12px;
	}
}
