
*{
	padding: 0;
	margin: 0;
	/*border: 1px solid;*/
	font-family: 'Quicksand', sans-serif;
	text-decoration: none;
    list-style: none;
}

/*page*/

section{
	width: 100%;
}

.container{
	width: 80%;
	margin: auto;
	margin-bottom: 80px;
}
.container-article{
	width: 100%;
	margin: 80px auto;
	display: grid;
	grid-template-areas: 
	"1 2"
	"3 4";
	/* border: 1px solid blue; */
	
}

/*article*/

.hero-article{
	width: 100%;
	margin: auto;
	margin-top: 50px;
}

.hero-article img{
	width: 100%;
}
.hero-article p {
	font-weight: 400;
}
.tulisan{
	padding: 50px 20px;
	border-bottom: 1px solid;
}

.f-tulisan{
	display: flex;
	width: 100%;
	justify-content: space-between;
	padding: 10px;
	box-sizing: border-box;
}
.tulisan .judul{
	font-size: 30px;
	font-weight: 600;
}

.tulisan .subjudul{
	font-weight: 500;
	font-style: italic;
}

.judul-m-auto{
	text-align: center;
	font-size: 30px;
	font-weight: 500;
	margin: auto;
}

/*container article*/

.container-article{
	width: 100%;
	display: grid;
	grid-template-areas: 
	"grid1 grid2"
	"grid3 grid4";
	/* border: 1px solid blue; */
	grid-gap: 30px;
}

.container-article .hero-article1, .hero-article2, .hero-article3, .hero-article4{
	width: 100%;
	/* border: 1px solid blue; */
	margin: auto;
}

.container-article .hero-article1 img, .hero-article2 img, .hero-article3 img, .hero-article4 img{
	width: 100%;
}



/* responsive */

/* laptop */
@meedia (max-width: 1366px){
	html{
		font-size: 75%;
	}
}

/* tablet */
@media (max-width: 768px){
	html{
		font-size: 62.5%;
	}

	#hamburger-menu{
		display: inline-block;
		
		
	}


	/* hero */
	.container .hero-article .judul{
		font-size: 20px;
	}


	/* container-article */
	.container-article .hero-article1, .hero-article2, .hero-article3, .hero-article4{
		width: 100%;
	/* border: 1px solid blue; */
		margin: auto;
	}

	.container-article .hero-article1 img, .hero-article2 img, .hero-article3 img, .hero-article4 img{
		width: 100%;
	}

	.container-article .hero-article1 .judul, .hero-article2 .judul, .hero-article3 .judul, .hero-article4 .judul{
		font-size: medium;
	}

	.tulisan{
		padding: 18px;
	}

}


/* smartphone */

@media (max-width: 400px){


	/* hero section */
	.container{
		margin-bottom: 20px;
	}

	.container .judul-m-auto{
		font-size: 16px;
	}

	.container-article{
		margin: 30px 0px;
	}
	.container .hero-article .judul{
		font-size: 14px;
	}

	.container .hero-article .isi{
		font-size: 8px;
	
	}


	/* article grid */
	.container-article .hero-article1, .hero-article2, .hero-article3, .hero-article4{
		width: 100%;
	/* border: 1px solid blue; */
		margin: auto;
	}

	.container-article .hero-article1 img, .hero-article2 img, .hero-article3 img, .hero-article4 img{
		width: 100%;
	}

	.container-article .hero-article1 .judul, .hero-article2 .judul, .hero-article3 .judul, .hero-article4 .judul{
		font-size: 8px;
	}

	.container-article .hero-article1 .subjudul, .hero-article2 .subjudul, .hero-article3 .subjudul, .hero-article4 .subjudul{
		font-size: 6px;
	}

	.container-article .hero-article1 .isi, .hero-article2 .isi, .hero-article3 .isi, .hero-article4 .isi{
		font-size: 5px;
	}

	.container-article .hero-article1 .f-tulisan, .hero-article2 .f-tulisan, .hero-article3 .f-tulisan, .hero-article4 .f-tulisan{
		font-size: 5px;
	}

	.tulisan{
		padding: 8px;
	}

}	
